SOURCE_CHAIN_RPC_URL=
CREDITCOIN_RPC_URL=
SOURCE_PRIVATE_KEY=
SOURCE_CHAIN_ID=11155111
CREDITCOIN_CHAIN_ID=102031
USC_PROVER_URL=https://proof-gen-api.cc3-testnet.creditcoin.network
SOURCE_ORDER_REGISTRY_ADDRESS=
CREDITCOIN_VAULT_ADDRESS=
SETTLEMENT_ASSET_ADDRESS=
